<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left">
<div class="gap-">
    <h1 class="text-5xl pb-2 font-bold">Artes Marciales Mixtas</h1>
    <p class="my-4">Ponte en forma y aprende a defenderte</p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">Comienza Ahora</button>
</div>
    <img src="images/cover.svg" alt="" class="w-80">
</header>